.button {
    height: 150px;
    width: 150px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    -unity-font-style: bold;
    font-size: 30px;
    display: flex;
    color: rgba(255, 255, 255, 255);
    background-color: rgba(108, 108, 108, 255);
}
